// Import Cirrus base
// https://www.cirrus-ui.com/getting-started/configuration
@use "cirrus-ui/src/cirrus-ext" as * with (
  $config: (
    extend: (
      colors: (
        semantic: (
          "primary": rgb(9, 29, 85),
          "light": #ddd,
          "dark": #222,
        ),
      ),
    ),
  )
);
