.airport-icon {
  background-image: url("../img/icons/noun-aircraft-3405646.svg");
  background-color: #222;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.airport-large {
  background-image: url("../img/icons/noun-planes-4258887.svg");
}

.airport-medium {
  background-image: url("../img/icons/noun-planes-4258887-single.svg");
}
