#map-container {
  position: relative; /* this allows the child elements to be positioned absolutely */

  height: 50vw;
  width: 100vw;
}

.map-layer {
  position: absolute;
  top: 0;
  left: 0;

  height: 50vw;
  width: 100vw;

  pointer-events: none;
}

// allow all children of .map-layer listen to pointer events
.map-layer > * {
  pointer-events: auto;
}

#map-countries {
  overflow-x: hidden;

  svg {
    height: 50vw;
    width: 100vw;

    padding-left: 2.8vw; // the country map is not centered in the svg
  }

  .mapborder {
    stroke: none;
  }

  .seabase {
    fill: none;
    stroke: none;
  }

  .region {
    stroke: #222;
    stroke-width: 2;
  }

  .region:hover {
    stroke: rgb(32, 95, 230);
    stroke-width: 4;
  }

  $base-color: rgb(255, 0, 0);

  // data bacon is not zero
  .region[data-bacon]:not([data-bacon="0"]) {
    fill: $base-color;
  }

  @for $i from 0 through 16 {
    .region[data-bacon="#{$i}"] {
      fill: rgb(255, 255-$i * 16, 255- $i * 16) !important;
    }
  }
}

#map-airports {
  .airport {
    position: absolute;
    // show div as a circle
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    // center the div
    margin-left: -5px;
    margin-top: -5px;
  }
  .airport[data-continent="NA"] {
    background-color: green;
  }
  .airport[data-continent="SA"] {
    background-color: blue;
  }
  .airport[data-continent="EU"] {
    background-color: yellow;
  }
  .airport[data-continent="AF"] {
    background-color: orange;
  }
  .airport[data-continent="AS"] {
    background-color: purple;
  }
  .airport[data-continent="OC"] {
    background-color: brown;
  }
}
