@use "colours";

// Import Cirrus base
// https://www.cirrus-ui.com/getting-started/configuration
@use "cirrus-ui/src/cirrus-ext" as * with (
  $config: (
    extend: (),
  )
);

body {
  background-color: #222;
  color: #ddd;
}

#dashboard {
  @extend .gradient-1;
  // stick to the bottom of the screen with fixed height
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;

  z-index: 100;

  .dashboard-card {
    padding: 1rem;
  }

  #dashboard-inspector {
    // centre dashboard window
    width: 45%;
    height: 100%;

    display: flex;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    #inspector-icon {
      flex: 0 0 auto; // don't let the icon grow or shrink
      width: 128px;
      height: 128px;
      background-color: rgba(0, 0, 0, 0.8);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      transition: 0.3s;
    }

    .airport-icon {
      // an airport icon as a data uri
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2'%3E%3Ccircle cx='32' cy='32' r='30'/%3E%3Ccircle cx='32' cy='32' r='10'/%3E%3C/g%3E%3C/svg%3E");
    }

    #inspector-info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;

      #inspector-title {
        @extend .mb-0;
      }

      #inspector-content {
        li {
          @extend .m-0;
        }
      }
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
