body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

#map-container {
  position: relative; /* this allows the child elements to be positioned absolutely */

  height: 50vw;
  width: 100vw;
}

.map-layer {
  position: absolute;
  top: 0;
  left: 0;

  height: 50vw;
  width: 100vw;

  pointer-events: none;
}

// allow all children of .map-layer listen to pointer events
.map-layer > * {
  pointer-events: auto;
}

#map-countries {
  overflow-x: hidden;

  svg {
    height: 50vw;
    width: 100vw;

    padding-left: 2.8vw; // the country map is not centered in the svg
  }

  .mapborder {
    stroke: none;
  }

  .seabase {
    fill: none;
    stroke: none;
  }

  .region {
    stroke: #222;
    // stroke-width: 0.5;
  }

  .region:hover {
    stroke: rgb(32, 95, 230);
    stroke-width: 4;
  }

  $base-color: rgb(255, 0, 0);

  // data bacon is not zero
  .region[data-bacon]:not([data-bacon="0"]) {
    fill: $base-color;
  }

  @for $i from 0 through 16 {
    .region[data-bacon="#{$i}"] {
      fill: rgb(255, 255-$i * 16, 255- $i * 16) !important;
    }
  }
}

#map-airports {
  .airport {
    position: absolute;
    // show div as a circle
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    // center the div
    margin-left: -5px;
    margin-top: -5px;
  }
  .airport[data-continent="NA"] {
    background-color: green;
  }
  .airport[data-continent="SA"] {
    background-color: blue;
  }
  .airport[data-continent="EU"] {
    background-color: yellow;
  }
  .airport[data-continent="AF"] {
    background-color: orange;
  }
  .airport[data-continent="AS"] {
    background-color: purple;
  }
  .airport[data-continent="OC"] {
    background-color: brown;
  }
}

#dashboard {
  // stick to the bottom of the screen with fixed height
  position: fixed;
  bottom: 0;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;

  font-size: 2em;
  z-index: 100;

  #dashboard-inspector {
    // centre dashboard window
    width: 40%;
    height: 100%;

    display: flex;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 10px solid #111;

    #inspector-icon {
      flex: 0 0 auto; // don't let the icon grow or shrink
      width: 128px;
      height: 128px;
      background-color: rgba(0, 0, 0, 0.8);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      transition: 0.2s;
    }

    .airport-icon {
      // an airport icon as a data uri
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2'%3E%3Ccircle cx='32' cy='32' r='30'/%3E%3Ccircle cx='32' cy='32' r='10'/%3E%3C/g%3E%3C/svg%3E");
    }

    #inspector-info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;

      #inspector-title {
        font-weight: bold;
      }

      #inspector-content {
        font-size: 0.6em;
      }
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
